@page
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PlaylistModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PlaylistModel.Nom" class="control-label">Nom </label>
                <input asp-for="PlaylistModel.Nom" class="form-control"/>
                <span asp-validation-for="PlaylistModel.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistModel.Description" class="control-label"> Description</label>
                <input asp-for="PlaylistModel.Description" class="form-control"/>
                <span asp-validation-for="PlaylistModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="True" asp-for="PlaylistModel.IsPublic"/> Playlist publique ?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="créer" class="btn btn-default"/>
            </div>
            <div>
                @Html.HiddenFor(m => m.PlaylistModel.ProprietaireName,  "usertest@example.com")
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}