@page
@model Playlist.Pages.Playlists.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PlaylistModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlaylistModel.Id" />
            <div class="form-group">
                <label asp-for="PlaylistModel.nom" class="control-label"></label>
                <input asp-for="PlaylistModel.nom" class="form-control" />
                <span asp-validation-for="PlaylistModel.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistModel.description" class="control-label"></label>
                <input asp-for="PlaylistModel.description" class="form-control" />
                <span asp-validation-for="PlaylistModel.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PlaylistModel.isPublic" /> @Html.DisplayNameFor(model => model.isPublic)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
