@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>projet réalisé dans le cadre du cours <a href="http://cours.uqac.ca/8INF345">Technologies Web avancées </a></p>
